#navIcon2 {
  @apply flex xl:hidden;
  width: 60px;
  height: 45px;
  position: fixed;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;

  cursor: pointer;
  scale: 0.7;
  @apply top-4 right-4 z-40;
  @apply md:-scale-125;
}

#navIcon2 span {
  @apply block bg-green-200;
  @apply xl:hidden;

  position: absolute;
  height: 9px;
  width: 50%;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#navIcon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#navIcon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#navIcon2 span:nth-child(1),
#navIcon2 span:nth-child(2) {
  top: 0px;
}

#navIcon2 span:nth-child(3),
#navIcon2 span:nth-child(4) {
  top: 18px;
}

#navIcon2 span:nth-child(5),
#navIcon2 span:nth-child(6) {
  top: 36px;
}

#navIcon2.open span:nth-child(1),
#navIcon2.open span:nth-child(6) {
  @apply bg-red-400;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#navIcon2.open span:nth-child(2),
#navIcon2.open span:nth-child(5) {
  @apply bg-red-400;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#navIcon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#navIcon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#navIcon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#navIcon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#navIcon2.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#navIcon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}
