@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&family=Rubik+Vinyl&display=swap");

* {
  cursor: url("../images/iconmonstr-cursor-1.png"), default;
  scroll-behavior: smooth;
  font-family: "Chakra Petch", sans-serif;
  color: #060810;
}
.App {
  background: rgb(20, 20, 20);
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
}
