.container {
  @apply fixed flex flex-col justify-center items-center w-full h-screen bottom-0 bg-slate-800 z-30;
  @apply lg:flex-row lg:h-[90%];
  animation: openAni 0.5s ease-in-out;
}
@keyframes openAni {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.ulContainer {
  @apply flex w-full h-1/2 justify-center items-center flex-col gap-5 mt-20;
  @apply lg:order-1 lg:h-full;
  li {
    @apply text-6xl sm:text-6xl md:text-8xl lg:text-9xl text-green-600;
    @apply hover:text-green-400;
  }
}

.containerSocial {
  @apply flex flex-col w-full h-1/2 bg-gray-800;
  @apply lg:h-full;
}
.social {
  @apply flex flex-row justify-between items-center h-1/3 w-full px-10;
  @apply lg:px-40;
}

.imgSocial {
  @apply w-1/6;
}
.socialText {
  @apply flex text-5xl sm:text-6xl md:text-8xl lg:text-7xl text-gray-200;
}
