.pushMenuDown {
  position: fixed;
  display: flex;
  width: 100%;
  min-height: 100dvh;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgb(6, 88, 68);
  z-index: 3;
}

.pushMenuHidden {
  position: fixed;
  display: none;
  width: 100%;
  height: 1000px;
  opacity: 0;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgb(6, 88, 68);
  z-index: 3;
}

.containerNav {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  background: rgb(46, 46, 46);
  order: 2;
}
.greenBox {
  position: relative;
  width: 100%;
  height: 25%;
  background-color: #16e561;
}
.ulNav {
  position: relative;
  top: 10%;
  left: 50%;
}
.ulNav li {
  position: relative;
  list-style-type: none;
  text-decoration: none;
  font-size: 5em;
}
.ulNav li a {
  cursor: url("../src/images/iconmonstr-cursor-2.png"), default;
  position: relative;
  color: #16e561;
  text-shadow: 2px 2px #086425;
  font-family: "Chakra Petch", sans-serif;
  text-decoration: none;
}
.ulNav li:hover {
  list-style-type: "👉";
  padding: 0;
}

.containerSocial {
  background-color: rgb(46, 46, 46);
  display: flex;
  position: relative;
  flex-direction: column;

  width: 50%;
  height: 100%;
}
.social1 {
  position: relative;
  display: flex;
  flex-direction: row;
  right: auto;
  padding: 0;
  margin: 0;

  align-items: center;
  text-decoration: none;

  width: 100%;
  height: 25%;

  cursor: url("../src/images/iconmonstr-cursor-2.png"), default;
  background: rgb(58, 58, 58);
  animation: scaling 0.5s ease forwards;
}
@keyframes scaling {
  0% {
    scale: 0%;
  }
  100% {
    scale: 100%;
  }
}
.social1:hover {
  background: rgb(46, 46, 46, 0.8);
}
.social2 {
  position: relative;
  display: flex;
  flex-direction: row;
  right: auto;
  padding: 0;
  margin: 0;

  align-items: center;
  text-decoration: none;

  width: 100%;
  height: 25%;

  cursor: url("../src/images/iconmonstr-cursor-2.png"), default;
  background: rgba(22, 111, 134, 0.9);
  animation: scaling 0.9s ease forwards;
}
.social2:hover {
  background: rgb(22, 112, 134, 0.85);
}
.social3 {
  position: relative;
  display: flex;
  flex-direction: row;
  right: auto;
  padding: 0;
  margin: 0;

  align-items: center;
  text-decoration: none;

  width: 100%;
  height: 25%;

  cursor: url("../src/images/iconmonstr-cursor-2.png"), default;
  background: rgba(21, 207, 231, 0.8);

  animation: scaling 1.4s ease forwards;
}
.social3:hover {
  background: rgba(21, 207, 231, 0.75);
}
.social4 {
  position: relative;
  display: flex;
  flex-direction: row;
  right: auto;
  padding: 0;
  margin: 0;

  align-items: center;
  text-decoration: none;

  width: 100%;
  height: 25%;

  cursor: url("../src/images/iconmonstr-cursor-2.png"), default;
  background: rgb(107, 21, 141);

  animation: scaling 1.9s ease forwards;
}
.social4:hover {
  background: rgba(107, 21, 141, 0.92);
}
.imgSocial {
  position: relative;
  width: 94px;
  height: 94px;
  padding-right: 50px;
  left: 15%;
  cursor: url("../src/images/iconmonstr-cursor-2.png"), default;
}
.socialText {
  position: relative;
  display: flex;
  font-size: 4.4em;
  padding-right: 50px;
  font-family: "Chakra Petch", sans-serif;
  left: 22%;
  color: antiquewhite;
  list-style-type: none;
  text-decoration: none;
  cursor: url("../src/images/iconmonstr-cursor-2.png"), default;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .pushMenuDown {
    position: fixed;
    display: flex;
    width: 100%;
    min-height: 90dvh;
    flex-direction: column;

    top: 10dvh;
    background: rgb(6, 88, 68);
  }
  .containerNav {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    background: rgb(46, 46, 46);
    order: 1;
    justify-content: center;
    align-items: center;
  }
  .greenBox {
    display: none;
  }
  .ulNav {
    position: relative;
    top: 0%;
    left: 0%;
  }
  .ulNav li {
    position: relative;
    list-style-type: none;
    text-decoration: none;
    font-size: clamp(2.5rem, 6vh, 3.5rem);

    text-align: center;
  }
  .ulNav li a {
    cursor: url("../src/images/iconmonstr-cursor-2.png"), default;
    position: relative;
    color: #16e561;
    text-shadow: 2px 2px #086425;
    font-family: "Chakra Petch", sans-serif;
    text-decoration: none;
  }
  .containerSocial {
    background-color: rgb(46, 46, 46);
    display: flex;
    position: relative;
    flex-direction: column;
    order: 2;
    min-width: 100%;
    max-height: 50%;
  }
  .social1 {
    flex-direction: row;
    width: 100%;
    height: 25%;
    gap: clamp(5.8rem, 1rem + 1vw, 8rem);
  }
  .social2 {
    flex-direction: row;
    width: 100%;
    height: 25%;

    gap: clamp(3.5rem, 1rem + 1vw, 8rem);
  }
  .social3 {
    flex-direction: row;
    width: 100%;
    height: 25%;

    gap: clamp(5.5rem, 1rem + 1vw, 8rem);
  }
  .social4 {
    flex-direction: row;
    width: 100%;
    height: 25%;

    gap: clamp(1rem, 1rem + 1vw, 8rem);
  }
  .imgSocial {
    position: relative;
    width: 64px;
    height: 64px;
    padding-right: 0px;
    left: 0%;
    order: 2;
  }
  .socialText {
    position: relative;
    display: flex;
    font-size: 2.5em;
    padding-right: 50px;
    font-family: "Chakra Petch", sans-serif;
    left: 5%;
    color: antiquewhite;
    order: 1;
  }
}
