.introduction {
  position: relative;
  justify-content: center;

  top: 10dvh;
  z-index: 0;
}
.container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100dvh;
  align-items: center;
  top: -5dvh;
}

.notSliderContainer {
  position: relative;
  min-width: 45%;
  opacity: 1;
  animation: notSliderContainerAnimation 1.5s ease forwards;
}
@keyframes notSliderContainerAnimation {
  0% {
    transform: translateX(90%);
    opacity: 0;
  }
  90% {
    opacity: 0.85;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
.notSliderImg {
  position: relative;
  filter: drop-shadow(5px 5px 5px #000000);
  max-width: 550px;
  left: 20%;
  opacity: 1;
  top: -5dvh;
}

.divTomRad {
  position: relative;
  display: flex;
  flex-direction: column;

  min-width: 51%;
  left: 7.5%;
  z-index: 0;

  transform: translateX(0%);
  animation: divTomRadAnimation 1.5s ease forwards;
  opacity: 1;
}
@keyframes divTomRadAnimation {
  0% {
    transform: translateX(-120%);
    opacity: 0;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
.divHi {
  position: relative;
  display: flex;
  background: #086425;
  border-radius: 6px;
  max-width: 36%;
  transform: translateX(0%);
}

.tomRadHi {
  color: #16e561;
  font-size: 2em;
  text-shadow: 2px 2px #086425;
}
.tomRadText {
  position: relative;
  color: #16e561;
  font-size: 5em;
  z-index: 2;

  text-shadow: 2px 2px #086425;
}
.tomRadUnderText {
  position: relative;

  left: 1%;
  top: 3%;

  z-index: 1;
  color: rgb(192, 192, 192);
  text-shadow: 1.5px 1.5px #050505;
}

.divSlider {
  top: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.opacityBlock {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: -1;
}
.photo1 {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  animation: ani 16s ease forwards;
  animation-iteration-count: infinite;
  z-index: -2;
}
.photo2 {
  position: absolute;
  width: 100%;
  opacity: 1;
  z-index: -3;
}

@keyframes ani {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .container {
    position: relative;
    justify-content: center;
  }

  .notSliderContainer {
    display: none;
  }

  .notSliderImg {
    display: none;
  }

  .divTomRad {
    width: 90%;
    align-items: center;
    left: 0;
  }
  .divHi {
    min-width: clamp(255px, 10%, 400px);
  }

  .tomRadHi {
    color: #16e561;
    font-size: 1.5em;
    text-align: center;

    text-shadow: 2px 2px #086425;
  }
  .tomRadText {
    font-size: 3.1em;
    text-align: center;
  }
  .tomRadUnderText {
    min-width: 80%;
    text-align: center;
    font-size: 1em;
  }

  .divSlider {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .opacityBlock {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: -1;
  }
  .photo1 {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;

    opacity: 1;
    animation: ani 16s ease forwards;
    animation-iteration-count: infinite;

    object-fit: cover;
    object-position: 25%;
    z-index: -2;
  }
  .photo2 {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;

    opacity: 1;
    object-fit: cover;
    object-position: 25%;
    z-index: -3;
  }
  @keyframes ani {
    0% {
      opacity: 1;
    }

    40% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }

    90% {
      opacity: 0;
    }
    99% {
      opacity: 1;
    }
  }
}
