.container {
  @apply fixed flex flex-col justify-center items-center w-full h-full bottom-0 bg-gray-900 z-30;
  animation: openAni 0.5s ease-in-out;
}
@keyframes openAni {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.ulContainer {
  @apply relative flex w-full h-[60%] pt-[10%] justify-center items-center flex-col gap-5;
  li {
    @apply text-6xl  text-green-600;
    @apply hover:text-green-400;

    @apply md:text-7xl;
  }
}

.containerSocial {
  @apply flex w-full h-[40%] flex-col bg-gray-800;
}
.social {
  @apply flex flex-row justify-between items-center h-1/2 w-full px-[10%];
}

.imgSocial {
  @apply w-[30%];
}
.socialText {
  @apply flex text-5xl  text-gray-200;
  @apply md:text-7xl;
}
